
p, button{
    text-align: center;
}

p {
font-size: 18px;
}

img{
width:100%;
}

#demo {
    color: green;
    font-size: 30px;
    margin-top:50px;
}

.hide {
    display: none;
}

button{
margig-top:80px;
height:80px;
}
