
p, button{
    text-align: center;
}

p {
font-size: 18px;
}

img{
width:80%;
}

#demo {
    color: green;
    font-size: 25px;
    margin-top:50px;
}

.hide {
    display: none;
}

button{
margin-top:15px;
height:80px;
}
